.bhr {
    background-color: var(--rich-purple);
}

.btb {
    font-size: 20px;
    color: var(--the-white);
    background-color: var(--rich-purple);
    text-align: center;
    padding: 20px;
}

.btb a {
    text-decoration: none;
    color: var(--the-white);
}

.btb a:hover {
    color: var(--main-color);
}

.titleContainer {
    text-align: center;
    margin: 4vh 0;
}

.blogContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blogText {
    width: 48%;
    margin: 1vh 0;
    padding: 0 20px;
}

.blogImage {
    width: 48%;
    border: solid 3px var(--rich-purple);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**
*PREVIOUS AND NEXT ARTICLE BUTTONS *******************
*/

.pvContainer {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pvLinkC {
    width: 50%;
    margin: 0 0 5vh 0;
}

.nextC {
    text-align: right;
    text-decoration: none;
    color: var(--rich-purple);
    transition: 0.4s;
}

.nextC:hover {
    color: var(--main-color);
}

.previousC {
    text-align: left;
    text-decoration: none;
    color: var(--rich-purple);
    transition: 0.4s;
}

.previousC:hover {
    color: var(--main-color);
}

@media only screen and (max-width: 1025px) {
    .blogContainer {
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .blogImage {
        width: 100%;
    }
    .blogText {
        width: 100%;
        margin: 5vh 0;
        padding: 0 0;
    }
}