.bts {
    font-size: 20px;
    color: var(--the-white);
    background-color: var(--rich-purple);
    text-align: center;
    padding: 20px;
}

.bts a {
    text-decoration: none;
    color: var(--the-white);
}

.bts a:hover {
    color: var(--main-color);
}

.itemContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemDescription hr {
    background-color: var(--rich-purple);
}

.itemImage {
    width: 50%;
    background-color: var(--the-white);
    padding: 5vw;
}

.itemDescription {
    text-align: left;
    width: 50%;
    border: 3px solid var(--rich-purple);
    border-bottom: none;
    border-top: none;
    padding: 20px;
    background-image: url('../images/product-background.webp');
    background-color: #fffffff3;
    background-blend-mode: lighten;
    background-size: 40%;
    background-position: center;
    background-attachment: fixed;
}

.itemDescription h3 {
    color: var(--rich-purple);
}

/**
*MEDIA QUERIES*********************************
*/

@media only screen and (max-width: 1025px) {
    .itemContainer {
        flex-direction: column;
    }
    .itemImage {
        width: 90%;
        margin: auto;
        padding: 15%;
    }
    .itemDescription {
        width: 90%;
        margin: auto;
        border-top: 3px solid var(--rich-purple);
    }
}

@media only screen and (max-width: 1025px) {
    .itemContainer {
        flex-direction: column;
    }
    .itemImage {
        width: 100%;
        margin: auto;
    }
    .itemDescription {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}