.cpBox {
    position: fixed;
    bottom: 10px;
    left: 0;
    height: auto;
    min-height: 60px;
    max-width: 300px;
    min-width: 30px;
    border: 1px solid var(--rich-purple);
    border-left: none;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--the-white);
}

.cpBox p {
    text-align: center;
    margin: 0 5px 0 5px;
    max-width: 80px;
    cursor: pointer;
}

.cpBox button {
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.cpPicker {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.colorBox {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.cpPicker input {
    width: 100%;
    margin: 0 5px;
    text-align: center;
}

.updateButton {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 10px 5px;
    cursor: pointer;
    font-weight: bold;
}

.updateButton:hover {
    color: var(--main-color);
}