.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menuButton {
    font-size: 20px;
    margin: 0 10px0 10px;
    color: var(--rich-purple);
}

.menuArea {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: var(--rich-purple);
    color: var(--the-white)
}

.menuItem {
    color: var(--the-white);
    text-decoration: none;
    font-size: 35px;
    text-align: center;
    margin: 4vh 0 0 0;
}

.socialContainer {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.social {
    width: 28px;
    height: 28px;
    fill: var(--the-white);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .menuItem {
        font-size: 25px;
    }
}