.projectContainer {
    width: 28%;
    height: 360px;
    margin: 2vh 0;
    text-align: center;
    background-color: var(--the-white);
    position: relative;
    border: 1px solid var(--rich-purple);
}

.cardImage {
    height: auto;
    min-height: 280px;
    width: 90%;
    margin: 2vh auto 2vh auto;
    padding: 12% 0;
    background-color: white;
    -webkit-box-shadow: inset 0px 0px 20px -13px var(--the-black);
    -moz-box-shadow: inset 0px 0px 20px -13px var(--the-black);
    box-shadow: inset 0px 0px 20px -13px var(--the-black);
}

.link {
    text-decoration: none;
    color: var(--rich-purple);
}

.link:hover {
    color: var(--main-color);
}

/**
*MEDIA QUERIES*********************************
*/

@media only screen and (max-width: 1025) {
    .projectContainer {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .projectContainer {
        margin: 20px;
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .projectContainer {
        width: 80%;
        height: auto;
        padding: 0 0 20px 0;
    }
    .cardImage {
        padding: 10px;
    }
}