.projectContainer {
    width: 28%;
    height: 360px;
    margin: 2vh 0;
    text-align: center;
    background-color: var(--the-white);
    position: relative;
}

.cardImage {
    height: 280px;
    width: 90%;
    margin: 2vh auto 2vh auto;
    background-color: white;
}

.link {
    text-decoration: none;
    color: var(--rich-purple);
}

.link:hover {
    color: var(--main-color);
}

/**
*MEDIA QUERIES*********************************
*/

@media only screen and (max-width: 1025) {
    .projectContainer {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .projectContainer {
        margin: 20px;
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .projectContainer {
        width: 80%;
    }
}